/*****************************************
 * Common
 ******************************************/
.centerBox {width: 1200px; min-height: 100px;}
body{font-size:0;min-width: 1200px;}
#wrap {min-height:800px;background-color:#0d0e0f;}

a.ngt-popup { display: inline-block;  width: 200px;  height: 38px; padding: 12px 0 0 0; text-align: center; border: 1px solid #999;background-color: #eee;}
input[type="button"],button { display: inline-block;width: 200px;height: 50px;}
a.btn_pop{display: inline-block;width: 200px;height: 38px;  padding: 12px 0 0 0;  text-align: center;  border: 1px solid #999;  background-color: #eee; font-size:12px;}

/* right_menu */
#right_menu{position: fixed; margin-top:-100px;left:1500px;top:80%;font-size: 0; z-index: 490;width:90px;height:121px;padding-top:29px;}
#right_menu.atSmallLayout{margin-left:550px;right:auto;left:50%;}
#right_menu.atWideLayout{margin-left:700px;right:auto;left:50%;}
#right_menu li{position:relative;display:block;}
#right_menu li a{display:block;width:90px;height:60px;background-image:url("../../assets/images/event/right_menu.png");background-repeat: no-repeat;}
#right_menu li.navi_event01 a{background-position:0 -29px;}
#right_menu li.navi_event01.active a{background-position:-90px -29px;}
#right_menu li.navi_event02 a{background-position:0 -89px;}
#right_menu li.navi_event02.active a{background-position:-90px -89px;}

/*header*/
#header{top:0px;width:100%;height:110px;position:absolute;z-index:400;min-width: 1280px;background-color:#212121;}
#header .menu{width:752px;margin-left:221px;}
#header .menu:after{content:'';display:block;clear:both;}
#header .menu li{float:left;}
#header .menu li a{display:block;background-image:url('../../assets/images/event/bg_navi.png');background-repeat: no-repeat;height:110px;}
#header .menu li.navi_event01 a{background-position:0px -110px;width:140px}
#header .menu li.navi_event01.active a{background-position:0px 0;}
#header .menu li.navi_event02 a{background-position:-140px -110px;width:148px}
#header .menu li.navi_event02.active a{background-position:-140px 0;}
#header h1{position:absolute;left:0px;z-index:100;}
#bg_header{width:100%;height:0px;position: absolute;top:0;background-color:#222222;z-index:50;}

/*visual*/
#visual{position:relative;z-index:100;background:url("../../assets/images/event/bg_visual.png") center bottom no-repeat;padding-top:110px;}
#visual .centerBox{height:1202px;text-align: center;}

/*event01*/
#event01{background:url('../../assets/images/event/bg_event01.png') center top no-repeat;position:relative;}
#event01 .centerBox{height:1099px;}
#event01 .centerBox .btn_event01{position:absolute;top:100px;left:10px;}

/*event02*/
#event02{background:url('../../assets/images/event/bg_event02.png') center top no-repeat;position:relative;}
#event02 .centerBox{height:1113px;}

.footer{background:#0d0e0f;width:100%;position:relative;}
.footer .centerBox{height:336px;}

/*****************************************
* Layer popup
******************************************/
.ngt-popup-bg {background-color: black; opacity: 0.7 ;filter: alpha(opacity=70);z-index: 10000000;}
.ngt-popup-wrap{ z-index: 10000001;}
.ngt-popup {width:1000px;}
.ngt-popup-close{top:0;right:0;}

#inputPopup{background-image:url('../../assets/images/popup/pop02.png');height:601px;}
.buttonPopup{background-image:url('../../assets/images/popup/pop01.png');height:293px;}
#aPopup{background-image:url('../../assets/images/popup/pop_myStatus.png');height:427px;}
#vPopup{width:1200px;height:674px;}
#vPopup02{width:1200px;height:674px;}
#gallery{width:1200px;height:540px;}


/*****************************************
* Layer popup gallery
******************************************/
.list_view{width:960px;}
.list_view li{width:960px;height:540px;display:none;position:relative;}
.list_view li.on{display:block;}
.list_view li#view01.on{background:url("../../assets/images/gallery/view01.png") 0 0 no-repeat;}
.list_view li#view02.on{background:url("../../assets/images/gallery/view02.png") 0 0 no-repeat;}
.list_view li#view03.on{background:url("../../assets/images/gallery/view03.png") 0 0 no-repeat;}
.list_view li#view04.on{background:url("../../assets/images/gallery/view04.png") 0 0 no-repeat;}
.list_view li#view05.on{background:url("../../assets/images/gallery/view05.png") 0 0 no-repeat;}
.list_view li#view06.on{background:url("../../assets/images/gallery/view06.png") 0 0 no-repeat;}
.list_view li#view07.on{background:url("../../assets/images/gallery/view07.png") 0 0 no-repeat;}
.list_view li#view08.on{background:url("../../assets/images/gallery/view08.png") 0 0 no-repeat;}
.list_view li#view09.on{background:url("../../assets/images/gallery/view09.png") 0 0 no-repeat;}
.list_view li#view10.on{background:url("../../assets/images/gallery/view10.png") 0 0 no-repeat;}
.list_view a{display:block;left:790px;bottom:30px;position: absolute;}
.list_thum{width:220px;}
.list_thum li{margin:0 10px 10px 0;background-color:#353535;}
.list_thum li a{width:100px;height:100px;background-image:url("../../assets/images/gallery/bg_thum.png");opacity:0.3;filter:alpha(opacity=30);}
.list_thum li.thum01 a{background-position:0 0;}
.list_thum li.thum02 a{background-position:-110px 0px;}
.list_thum li.thum03 a{background-position: 0 -110px;}
.list_thum li.thum04 a{background-position:-110px -110px;}
.list_thum li.thum05 a{background-position:0px -220px;}
.list_thum li.thum06 a{background-position:-110px -220px;}
.list_thum li.thum07 a{background-position:0px -330px;}
.list_thum li.thum08 a{background-position:-110px -330px;}
.list_thum li.thum09 a{background-position:0px -440px;}
.list_thum li.thum10 a{background-position:-110px -440px;}





