body {position: relative;font-family:dotum,gulim,verdana,arial,sans-serif;}
a.ngt-popup { display: inline-block;  width: 200px;  height: 38px; padding: 12px 0 0 0; text-align: center; border: 1px solid #999;background-color: #eee;}
html,body{font-size:0;min-width: 1200px;}

#wrap { position: relative; overflow: hidden;min-height:800px;background-color:#0d0e0f;min-width: 1200px;}
.logo{position:absolute;top:60px;left:80px;display: block;margin-right:100px;}
#right_menu{position: fixed; margin-top:-100px;right:100px;top:50%;font-size: 0; z-index: 490;width:90px;height:121px;padding-top:29px;background:url("../../assets/images/event/right_menu.png") left 0 no-repeat;}
#right_menu.atSmallLayout{margin-left:550px;right:auto;left:50%;}
#right_menu.atWideLayout{margin-left:700px;right:auto;left:50%;}
#right_menu li{position:relative;display:block;}
#right_menu li a{display:block;width:90px;height:60px;}

#header{top:0px;width:100%;height:110px;position:absolute;z-index:700;min-width: 1280px;background-color:#212121;}
#header .menu{width:752px;margin-left:221px;}
#header .menu:after{content:'';display:block;clear:both;}
#header .menu li{float:left;}
#header .menu li a{display:block;background-image:url('../../assets/images/event/bg_navi.png');background-repeat: no-repeat;height:110px;}
#header .menu li.navi01 a{background-position:0px -110px;width:140px}
#header .menu li.navi01.on a{background-position:0px 0;}
#header .menu li.navi02 a{background-position:-140px -110px;width:148px}
#header .menu li.navi02.on a{background-position:-140px 0;}
#header .menu li.navi03 a{background-position:-288px -110px;width:253px}
#header .menu li.navi03.on a{background-position:-288px 0;}
#header .menu li.navi04 a{background-position:-541px -110px;width:211px}
#header .menu li.navi04.on a{background-position:-541px 0;}
#header h1{position:absolute;left:0px;z-index:100;}
#bg_header{width:100%;height:0px;position: absolute;top:0;background-color:#222222;z-index:50;}

#visual{position:relative;z-index:100;width:100%;background:url("../../assets/images/event/bg_visual.png") center bottom no-repeat;padding-top:110px;}
#visual .centerBox{height:1202px;text-align: center;}
#visual input[type="button"],#visual  button { display: inline-block;width: 200px;height: 50px;}
#visual a.btn_pop{display: inline-block;width: 200px;height: 38px;  padding: 12px 0 0 0;  text-align: center;  border: 1px solid #999;  background-color: #eee; font-size:12px;}


#event01{background:url('../../assets/images/event/bg_event01.png') center top no-repeat;position:relative;}
#event01 .centerBox{height:1099px;}

#event02{background:url('../../assets/images/event/bg_event02.png') center top no-repeat;position:relative;}
#event02 .centerBox{height:1113px;}

.footer{background:#0d0e0f;width:100%;position:relative;}
.footer .centerBox{height:336px;}

/*****************************************
* Layer popup
******************************************/
.ngt-popup-bg {position: fixed ; top: 0; left: 0; width: 101% ;height: 101% ;background-color: black; opacity: 0.85 ;filter: alpha(opacity=85);z-index: 500;display: none;}
.ngt-popup-wrap{position: fixed;  top: 0;  left: 0;  width: 100%; height: 100%;overflow-y: auto; cursor: zoom-out; outline: none; z-index: 600;display: none;}
.ngt-popup {position: relative; display: inline-block; padding: 40px 0; vertical-align: middle;/*margin:0 auto;*/background-repeat: no-repeat;background-position:center center;}
.ngt-popup-close{position: absolute;top:0;right:0;}


/*
#shade { position:fixed;top:0;left:0;width:100%;height:100%;filter:alpha(opacity=80);opacity:0.8;z-index:500;display:none; background-color:none;}
.pop{position: absolute;left:50%;background-repeat: no-repeat;background-position:center center;width:1000px;margin-left:-500px;display:none;cursor:pointer;z-index:1000;}
*/
#inputPopup{background-image:url('../../assets/images/popup/pop01.png');height:293px;top:1300px;}
.buttonPopup{background-image:url('../../assets/images/popup/pop02.png');height:293px;top:1300px;}
#aPopup{background-image:url('../../assets/images/popup/pop_myStatus.png');height:293px;top:1300px;}
#aPopup{background-image:url('../../assets/images/popup/pop_myStatus.png');height:426px;top:1500px;}
#aPopup .myCoin_number{position:absolute;left:171px;top:177px;}
#aPopup .myCoin_number p{width:80px;float: left;text-align:center;}





