/*****************************************
 * Common
 ******************************************/
.centerBox {width: 1200px; min-height: 100px;}
body{font-size:0;min-width: 1200px;}
#wrap {text-align: center;}

/* popup */
#wrap input[type="button"],#wrap button { display: inline-block;width: 200px;height: 50px;}
#wrap a.btn_pop{display: inline-block;width: 198px;height: 50px; line-height:50px;text-align: center;  border: 1px solid #999;  background-color: #eee; font-size:12px;}
#wrap br{font-size:15px;}





