/*!
 * Nexon-GT Event CSS Library v1.0.0
 * Date: 2016-12-22
 */

/*****************************************
 * Reset
 ******************************************/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button{margin:0;padding:0}
body,h1,h2,h3,h4,input,button{font-family:Malgun Gothic,"¸¼Àº °íµñ",Dotum,'µ¸¿ò',Helvetica,AppleSDGothicNeo,sans-serif;color:black}
img,fieldset,iframe{border:0 none}
ul,ol,li{list-style:none;}
img{vertical-align:top}
label,button,input[type="radio"],input[type="checkbox"]{cursor:pointer}
input,select,button{vertical-align:middle}
button *{position:relative}
button img{left:-3px;*left:auto}
html:first-child select{height:20px;padding-right:6px}
option{padding-right:6px}
hr{display:none}
legend{*width:0}
table { width: 100%; border-collapse: collapse; border-spacing: 0; }
input::-ms-clear{display:none}
a { color: black; text-decoration: none; }
a[disabled] { cursor: default; opacity: 0.5; filter: alpha(opacity=50); }
a:link, a:visited { color: blue; }
a:hover, a:focus { color: red; text-decoration: underline; }
a:active { color: yellow; text-decoration: underline; }



/*****************************************
 * Common
 ******************************************/
.hide { position: absolute; width: 0; line-height:0; height: 0; font-size: 0; top:0; left:-9999px; overflow:hidden; }
.centerBox { position: relative; width: 1200px; margin: 0 auto;}





/*****************************************
* Active menu
******************************************/







/*****************************************
* Layer popup
******************************************/
@keyframes popupZoomIn {
    from {
        -ms-transform: scale(0.8);
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes popupZoomOut {
    from {
        -ms-transform: scale(1.3);
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        opacity: 0;
    }
    to {
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes popupSlideUp {
    from {
        -ms-transform: translate(0, 100px);
        -webkit-transform: translate(0, 100px);
        transform: translate(0, 100px);
        opacity: 0;
    }
    to {
        -ms-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
    }
}
@keyframes popupSlideDown {
    from {
        -ms-transform: translate(0, -100px);
        -webkit-transform: translate(0, -100px);
        transform: translate(0, -100px);
        opacity: 0;
    }
    to {
        -ms-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
    }
}
@keyframes popupRotateX {
    from {
        -ms-transform: rotateX(70deg);
        -webkit-transform: rotateX(70deg);
        transform: rotateX(70deg);
        opacity: 0;
    }
    to {
        -ms-transform: rotateX(0deg);
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        opacity: 1;
    }
}
@keyframes popupRotateY {
    from {
        -ms-transform: rotateY(70deg);
        -webkit-transform: rotateY(70deg);
        transform: rotateY(70deg);
        opacity: 0;
    }
    to {
        -ms-transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        opacity: 1;
    }
}
.popup.zoomIn {
    animation: popupZoomIn 0.4s;
}
.popup.zoomOut {
    animation: popupZoomOut 0.4s;
}
.popup.slideUp {
    animation: popupSlideUp 0.5s;
}
.popup.slideDown {
    animation: popupSlideDown 0.5s;
}
.popup.rotateX {
    animation: popupRotateX 0.5s;
}
.popup.rotateY {
    animation: popupRotateY 0.5s;
}
.popup {
    text-align: left;
    display: none;
}
a.popupClose {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 50px;
    height: 50px;
    font-family: Arial, Baskerville, monospace;
    font-size: 22px;
    color: lightgray;
    line-height: 48px;
    text-align: center;
    text-decoration: none;
    cursor: auto;
}
a.popupClose:hover {
    background-color: rgba(0,0,0,0.5);
}



/*****************************************
* Layer popup gallery
******************************************/