/*!
 * Nexon-GT Event CSS Library v1.0.0
 * Date: 2016-12-22
 */

/*****************************************
 * Base
 ******************************************/
* { margin: 0; padding: 0; }
img { vertical-align: middle; border: 0; }
ul, ol , li { list-style: none; }
input, button { cursor: pointer; }
table { width: 100%; border-collapse: collapse; border-spacing: 0; }
a { color: black; text-decoration: none; }
a:not([disabled]):link, a:not([disabled]):visited { color: green; }
a:not([disabled]):hover, a:not([disabled]):focus { color: red; text-decoration: underline; }
a:not([disabled]):active { color: yellow; text-decoration: underline; }
a[disabled] { cursor: default; opacity: 0.5; filter: alpha(opacity=50); }



/*****************************************
 * Common
 ******************************************/
.hide { position: absolute; width: 0; line-height:0; height: 0; font-size: 0; top:0; left:-9999px; overflow:hidden; }
.centerBox { position: relative; width: 1200px; min-height: 100px; margin: 0 auto;}





/*****************************************
* Active menu
******************************************/







/*****************************************
* Layer popup
******************************************/
.popup { position: absolute; width: 1200px; z-index: 1000; display: none;left:50%;margin-left:-600px;}







/*****************************************
* Layer popup gallery
******************************************/