/*!
 * Nexon-GT Event CSS Library v1.0.0
 * Date: 2016-12-22
 */

/*****************************************
 * Base
 ******************************************/
* { margin: 0; padding: 0; }
img { vertical-align: middle; border: 0; }
ul, ol , li { list-style: none; }
input, button { cursor: pointer; }
table { width: 100%; border-collapse: collapse; border-spacing: 0; }
a { color: black; text-decoration: none; }
a:not([disabled]):link, a:not([disabled]):visited { color: green; }
a:not([disabled]):hover, a:not([disabled]):focus { color: red; text-decoration: underline; }
a:not([disabled]):active { color: yellow; text-decoration: underline; }
a[disabled] { cursor: default; opacity: 0.5; filter: alpha(opacity=50); }



/*****************************************
 * Common
 ******************************************/
.hide { position: absolute; width: 0; line-height:0; height: 0; font-size: 0; top:0; left:-9999px; overflow:hidden; }
.centerBox { position: relative; width: 1200px; min-height: 100px; margin: 0 auto;}





/*****************************************
* Active menu
******************************************/







/*****************************************
* Layer popup
******************************************/
.popup { text-align: left; display: none; }
.list_view{position:relative;top:0px;left:0;}
.list_view li{width:840px;height:670px;display:none;}
.list_view li:first-child{display:block;}
.list_view a{display:block;left:312px;bottom:59px;position: absolute;}
.list_thumb{position:absolute;right:0px;top:0px;width:360px;}
.list_thumb li{float:left;background-color:#ede9ea;}
.list_thumb li a{width:180px;height:134px;display:block;background:url("../../assets/images/gallery/bg_thumb.png") no-repeat;}
.list_thumb li.thumb01 a{background-position:0 0;}
.list_thumb li.thumb02 a{background-position:-180px 0px;}
.list_thumb li.thumb03 a{background-position: 0 -134px;}
.list_thumb li.thumb04 a{background-position:-180px -134px;}
.list_thumb li.thumb05 a{background-position:0px -268px;}
.list_thumb li.thumb06 a{background-position:-180px -268px;}
.list_thumb li.thumb07 a{background-position:0px -402px;}
.list_thumb li.thumb08 a{background-position:-180px -402px;}
.list_thumb li.thumb09 a{background-position:0px -536px;}
.list_thumb li.thumb10 a{background-position:-180px -536px;}
.list_thumb li.thumb01.on a,.list_thumb li.thumb01 a:hover{background-position:-360px 0px;}
.list_thumb li.thumb02.on a,.list_thumb li.thumb02 a:hover{background-position:-540px 0px;}
.list_thumb li.thumb03.on a,.list_thumb li.thumb03 a:hover{background-position:-360px -134px;}
.list_thumb li.thumb04.on a,.list_thumb li.thumb04 a:hover{background-position:-540px -134px;}
.list_thumb li.thumb05.on a,.list_thumb li.thumb05 a:hover{background-position:-360px -268px;}
.list_thumb li.thumb06.on a,.list_thumb li.thumb06 a:hover{background-position:-540px -268px;}
.list_thumb li.thumb07.on a,.list_thumb li.thumb07 a:hover{background-position:-360px -402px;}
.list_thumb li.thumb08.on a,.list_thumb li.thumb08 a:hover{background-position:-540px -402px;}
.list_thumb li.thumb09.on a,.list_thumb li.thumb09 a:hover{background-position:-360px -536px;}
.list_thumb li.thumb10.on a,.list_thumb li.thumb10 a:hover{background-position:-540px -536px;}





/*****************************************
* Layer popup gallery
******************************************/