/*!
 * Nexon-GT Event CSS Library v1.0.0
 * Date: 2016-12-22
 */

/*****************************************
 * Reset
 ******************************************/
html, body { margin: 0; padding: 0; }
form { margin: 0; padding: 0; }
hr { display: none; }
p, div, th, td, select, input { color: black; }
img { vertical-align: middle; border: 0; }
ul, ol , li { list-style: none; }
input, button { cursor: pointer; }
table { width: 100%; border-collapse: collapse; border-spacing: 0; }
a { color: black; text-decoration: none; }
a[disabled] { cursor: default; opacity: 0.5; filter: alpha(opacity=50); }
a:link, a:visited { color: green; }
a:hover, a:focus { color: red; text-decoration: underline; }
a:active { color: yellow; text-decoration: underline; }



/*****************************************
 * Common
 ******************************************/
.hide { position: absolute; width: 0; line-height:0; height: 0; font-size: 0; top:0; left:-9999px; overflow:hidden; }
.centerBox { position: relative; width: 1200px; margin: 0 auto;}





/*****************************************
* Active menu
******************************************/







/*****************************************
* Layer popup
******************************************/
@keyframes popupZoomIn {
    from {
        -ms-transform: scale(0.8);
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes popupZoomOut {
    from {
        -ms-transform: scale(1.3);
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        opacity: 0;
    }
    to {
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes popupSlideUp {
    from {
        -ms-transform: translate(0, 100px);
        -webkit-transform: translate(0, 100px);
        transform: translate(0, 100px);
        opacity: 0;
    }
    to {
        -ms-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
    }
}
@keyframes popupSlideDown {
    from {
        -ms-transform: translate(0, -100px);
        -webkit-transform: translate(0, -100px);
        transform: translate(0, -100px);
        opacity: 0;
    }
    to {
        -ms-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
    }
}
@keyframes popupRotateX {
    from {
        -ms-transform: rotateX(70deg);
        -webkit-transform: rotateX(70deg);
        transform: rotateX(70deg);
        opacity: 0;
    }
    to {
        -ms-transform: rotateX(0deg);
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        opacity: 1;
    }
}
@keyframes popupRotateY {
    from {
        -ms-transform: rotateY(70deg);
        -webkit-transform: rotateY(70deg);
        transform: rotateY(70deg);
        opacity: 0;
    }
    to {
        -ms-transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        opacity: 1;
    }
}
.popup.zoomIn {
    animation: popupZoomIn 0.4s;
}
.popup.zoomOut {
    animation: popupZoomOut 0.4s;
}
.popup.slideUp {
    animation: popupSlideUp 0.5s;
}
.popup.slideDown {
    animation: popupSlideDown 0.5s;
}
.popup.rotateX {
    animation: popupRotateX 0.5s;
}
.popup.rotateY {
    animation: popupRotateY 0.5s;
}
.popup {
    text-align: left;
    display: none;
}
a.popupClose {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 50px;
    height: 50px;
    font-family: Arial, Baskerville, monospace;
    font-size: 22px;
    color: lightgray;
    line-height: 48px;
    text-align: center;
    text-decoration: none;
    cursor: auto;
}
a.popupClose:hover {
    background-color: rgba(0,0,0,0.5);
}



/*****************************************
* Layer popup gallery
******************************************/